.deleteSpotModal-container {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 63, 27);
}

.deleteSpotModal-container > button {
    padding: 10px 0px;
    border-radius: 5px;
}

.deleteSpotModal-yes-button {
    background-color: rgb(241, 108, 108);
    color: white;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}

.deleteSpotModal-no-button {
    background-color: darkgray;
    color: white;
    box-shadow: 2px 2px 2px gray;
    cursor: pointer;
}