.manage-spot-main {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px
}

.manageSpot-create-button-link {
    text-decoration: none;
    color: rgb(27, 63, 27);
}

.manageSpot-create-button {
    background-color: white; 
    box-shadow: 2px 2px 2px rgb(27, 63, 27); 
    /* color: rgb(27, 63, 27); */
    border: 2px rgb(27, 63, 27) solid; 
    padding: 8px 16px; 
    margin-top: 8px; 
    cursor: pointer; 
    border-radius: 4px; 
}

.wipe-manageSpot-create-button {
    display: none;
}

.manage-spot-actions {
    display: flex;
    gap: 10px;
}

.manage-spot-actions a {
    text-decoration: none;
    color: white;
}

.manage-spot-actions > button {
    padding: 5px;
    background-color: rgb(27, 63, 27);
    color: white;
    border-radius: 5px;
    /* border: 2px gray solid; */
    border: 2px solid rgb(27, 63, 27);
    box-shadow: 2px 2px 2px rgb(27, 63, 27);
    cursor: pointer;
}

.manage-spot-h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 63, 27);
}