.reviewIndexItem-container {
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
}

.reviewIndexItem-username {
    font-weight: bold;
}

.reviewIndexItem-date {
    color: gray
}

.reviewIndexItem-delete-button-container > button {
    color: white;
    background-color: rgb(27, 63, 27);
    border: 1px solid rgb(27, 63, 27);
    box-shadow: 2px 2px 2px rgb(27, 63, 27);
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}

