.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  border: 1px lightgray solid;
  box-shadow: 3px 3px 3px gray;
  padding: 10px;
  margin-top: 8px;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.login-user-drop-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  /* border: 2px red solid; */
}

/*contain login user info(username and email)*/
.login-user-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: darkgray 1px solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(92, 87, 87);
}

.manage-spots-link-container {
  width: 100%;
  border-bottom: darkgray 1px solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.manage-spots-link {
  text-decoration: none;
  color: rgb(27, 63, 27);
  font-size: medium;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.logout-button-container {
  margin: 3px;
}

.logout-button-container > button {
  background-color: rgb(27, 63, 27);
  color: white;
  border: 2px solid rgb(27, 63, 27);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(27, 63, 27);
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px lightgray solid;
}

.user-button {
  border: 1px solid gray;
  border-radius: 25% 25% 25% 25%;
  background-color: white;
  box-shadow: 2px 2px 2px gray;
}

.user-button:hover {
  cursor: pointer;
}

.navigation-create-newSpot-link-button a {
  text-decoration: none;
  color: white;
}

.navigation-create-newSpot-link-button {
  background-color: rgb(27, 63, 27);
  border-radius: 5px;
  border: 2px solid rgb(27, 63, 27);
  box-shadow: 2px 2px 2px rgb(27, 63, 27);
}

.wipe-navigation-create-newSpot-link-button {
  display: none;
}

.create-spot-user-button-container {
  display: flex;
  gap:10px;
}

.nav-logo {
  margin-top: 8px;
}


.openModalMenuItem-container {
  cursor: pointer;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(27, 63, 27);
  font-weight: bold;
}